{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
   ********************************
   <br>
   Description : {{post.description}} <br>
   Username : {{post.username}} <br>
   Likes : <span id="like{{post.id}}">{{post.likes}} </span> 
    <a href="" onclick="likethePost({{post.id}})"> Like </a> <br>
    {% for image in post.images %}
        <img src="{{ image }}" height="200px">
    {% endfor %}
    <br>
    <button  onclick="GetAllComments({{post.id}})">  Get All Comments </button>
    <button  onclick="HideComments({{post.id}},'post')">  Hide </button>
    <br>
    <form id="comment-post{{post.id}}" method="post" action="#">
        {% csrf_token %}
        <label for="message"></label>
        <input type="text" placeholder="Say something to {{post.username}}" name="message" required>
        <input type="hidden" name="post" value="{{post.id}}" >
        <button onclick="SubmitComment({{post.id}})">Comment Now </button>
    </form>
    <div id="Allcommentss{{post.id}}">

    </div>
    <br>
{% endfor %}

<br>
{% for shared_post in shared_posts%}
        <br>
    ********************
    <br>
    Username of Yours : {{shared_post.user}} <br>
    {% if shared_post.description %}
    Description: {{shared_post.description}}<br>
    {% endif %}
    {% for post in shared_post.post %}
        Description : {{post.description}} <br>
        Post User : {{post.username}} <br>
        {% for image in post.images %}
            <img src="{{ image }}" height="200px">
        {% endfor %}
        <br>
    {% endfor %}
    Shared Post Likes : <span id="shared_post_like{{shared_post.id}}">{{shared_post.likes}} </span> 
    <a href="" onclick="LikeTheSharedPost({{shared_post.id}})"> Like </a> <br>
    <br>
    <button  onclick="GetAllSharedPostComments({{shared_post.id}})">  Get All Comments </button>
    <button  onclick="HideComments({{shared_post.id}},'shared_post')">  Hide </button>
    <div id="AllSharedPostcommentss{{shared_post.id}}"></div>
    {% endfor %}
    
<script>

    function likethePost(id){
        event.preventDefault();
        url = "{% url 'post:like-dislike-posts' 0 %}".replace(0,id),
        $.ajax({
            url : url,
            type : "GET",
            contentType:"application/json",
            success : function(response){
                document.getElementById(`like${id}`).innerHTML = response.message
            }
        })
    }

    function LikeTheSharedPost(id){
        event.preventDefault();
        url = "{% url 'post:like-dislike-shared-posts' 0 %}".replace("0",id)
        $.ajax({
            url : url,
            type : "GET",
            contentType:"application/json",
            success : function(response){
                document.getElementById(`shared_post_like${id}`).innerHTML = response.message
            }
        })

    }



    function GetAllComments(id){

        event.preventDefault();
        $(`#Allcommentss${id}`).show();
        url = "{%  url 'post:get-all-comments' 0 %}".replace("0",id);
        $.ajax({
            url : url,
            type : "GET",
            contentType:"application/json",
            success : function(response){
                document.getElementById(`Allcommentss${id}`).innerHTML=""
                for(i=0;i<response.data.length;i++){
                    data = response.data[i]
                    var newCommentHtml = `<div id=comment${data.id}>`
                    newCommentHtml +=`
                    <br>
                    <p id=${data.id}> ${data.message} </p>
                    Commented By : ${data.user}<br>
                    <br>
                    *****************************************
                    <br>
                    `;

                   newCommentHtml += '</div>'; 
                   document.getElementById(`Allcommentss${id}`).insertAdjacentHTML("beforeend",newCommentHtml);
                }
                
        
            }
        })

    }





    function GetAllSharedPostComments(id){
        event.preventDefault();
        $(`#AllSharedPostcommentss${id}`).show();
        url = "{% url 'post:get-all-comments-shared-post' 0 %}".replace("0",id);
        $.ajax({
            url : url ,
            type : "GET" ,
            contentType:"application/json",
                success : function(response){
                var newCommentHtml = `<div id=AllSharedPostcommentss${id}>`
                for(i=0;i<response.data.length;i++){
                    data = response.data[i]
                    
                    newCommentHtml +=`
                    <br>
                    <p id=${data.id}> ${data.message} </p>
                    Commented By : ${data.user}<br>
                    <br>
                    *****************************************
                    <br>
                    `;

                    
                }
                newCommentHtml += '</div>';
                document.getElementById(`AllSharedPostcommentss${id}`).innerHTML = newCommentHtml;
            }

        })

    }


    function SubmitComment(id){
        event.preventDefault();
        var formData = $(`#comment-post${id}`).serializeArray();
        var jsonData = {};
         for (var i = 0; i < formData.length; i++) {
          var item = formData[i];
          jsonData[item.name] = item.value;
        }
        var jsonStr = JSON.stringify(jsonData);
        url = "{% url 'post:create-post-comment' %}"
        $.ajax({
            type : "POST",
            url : url ,
            contentType: "application/json; charset=utf-8",
            data: jsonStr,
            dataType: "json",
            headers: {
            'X-CSRFToken': getCSRFToken()
          },
            success: function(response){
                var newCommentHtml = document.getElementById(`Allcommentss${id}`);
                if (newCommentHtml) {
                    newCommentHtml.insertAdjacentHTML('afterend', `
                    <div id="comment${response.id}">
                        <br>
                        <p id="${response.id}">${response.data.message}</p>
                        Commented By: ${response.username}<br>
                        <br>
                        *****************************************
                        <br>
                    `);
                    document.getElementById(`comment-post${id}`).reset();
                } else {
                    console.error('Element with specified ID not found.');
                }
            }
        })
    }
    




    function HideComments(id,name){
        if(name === 'post'){
            $(`#Allcommentss${id}`).hide()
            return 
        }
        $(`#AllSharedPostcommentss${id}`).hide();
        return
      
    }



</script>

{% endblock %}