{% extends 'base.html' %}
{% block content %}
{% for post in posts %}
   ********************************
   <br>
   Description : {{post.description}} <br>
   Username : {{post.username}} <br>
   Likes : <span id="like{{post.id}}">{{post.likes}} </span> 
    <a href="" onclick="likethePost({{post.id}})"> Like </a> <br>
    {% for image in post.images %}
        <img src="{{ image }}" height="200px">
    {% endfor %}
{% endfor %}

<br>
{% for shared_post in shared_posts%}
        <br>
    ********************
    <br>
    Username of Yours : {{shared_post.user}} <br>
    {% if shared_post.description %}
    Description: {{shared_post.description}}<br>
    {% endif %}
    {% for post in shared_post.post %}
        Description : {{post.description}} <br>
        Post User : {{post.username}} <br>
    {% endfor %}
    Shared Post Likes : <span id="shared_post_like{{shared_post.id}}">{{shared_post.likes}} </span> 
    <a href="" onclick="LikeTheSharedPost({{shared_post.id}})"> Like </a> <br>
    ********************
    {% endfor %}

<br>
********************
<br>

<script>

    function likethePost(id){
        event.preventDefault();
        url = "{% url 'post:like-dislike-posts' 0 %}".replace(0,id),
        $.ajax({
            url : url,
            type : "GET",
            contentType:"application/json",
            success : function(response){
                document.getElementById(`like${id}`).innerHTML = response.message
            }
        })
    }

    function LikeTheSharedPost(id){
        event.preventDefault();
        url = "{% url 'post:like-dislike-shared-posts' 0 %}".replace("0",id)
        $.ajax({
            url : url,
            type : "GET",
            contentType:"application/json",
            success : function(response){
                document.getElementById(`shared_post_like${id}`).innerHTML = response.message
            }
        })

    }

</script>

{% endblock %}