{% load static %}
    <nav>
        <div class="left">
            <div class="logo">
              <a href="" >
                <img src="{% static 'images/default.png' %}">
              </a>
            </div>
            <div class="search_bar">
              <i class="bi bi-search"></i>
              <input type="text" placeholder="Search...">
            </div>
        </div>  
        <!--  -->
        <div class="mid">
              <a href="{% url 'utils:home' %}">
                <i class="bi bi-house-door-fill"></i>
              </a>
              <a href="">
                <i class="bi bi-person-circle"></i>
              </a>
              <a href="">
                <i class="bi bi-people-fill"></i>
              </a>
              <a href="">
                <i class="bi bi-tv-fill"></i>
              </a>
        </div>
        <!--  -->
        <div class="right">
            <div class="icons">
                <a href="">
                    <i class="bi bi-list"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-messenger"></i>
                  </a>
                  <a href="">
                    <i class="bi bi-bell-fill"></i>
                  </a>
            </div>
            <div class="right_logo">
                <a href="">
                    {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}">
                    {% else %}
                    <img src="{% static 'images/default.png' %}">
                    {% endif %}
                </a>
            </div>
        </div>
    </nav>
    
