{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <!-- icons  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <!-- css  -->
    <link rel="stylesheet" href="{% static 'css/navcss.css'%}">
</head>
<div class="main_container">
            <div class="nab_bar">
                <nav>
                    <div class="nav_left">
                        <div class="logo">
                          <img src="{% static 'images/logo.png'%}" alt="">
                        </div>
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="nav_mid">
                        <i class="uil uil-estate"></i>
                        <i class="uil uil-users-alt" onclick='redirect()'></i>
                        <i class="uil uil-tv-retro"></i>
                        <i class="uil uil-store"></i>
                    </div>
                    <div class="nav_right">
                        <i class="uil uil-bars"></i>
                        <i class="uil uil-facebook-messenger"></i>
                        <i class="uil uil-bell"></i>
                        <div class="logo">
                            <img src="{% static 'images/logo.png'%}" alt="">
                        </div>
                    </div>
                </nav>
            </div>
    </div>
    <br><br><br><br>
</html>


<script>
    function redirect(){
        url =  "{% url 'user:all-friends' %}"
        window.location.href = url 
    }
</script>